body
{
    background-image: linear-gradient(to bottom right,rgb(255, 255, 187),rgb(91, 220, 243));
    background-repeat: repeat-x;
}

h2
{
    font-size:1.5em;
    text-align: left;
    padding:10px 25px;
}
#headline
{
    float: left;
}
#headline_walkthrough1
{
    float: left;
}
#headline_walkthrough1 ul
{
    list-style-image: url('project_image.jpg');
}
#headline_walkthrough1 li
{
    float: left;
    margin: 0 10px;
}
#headline_walkthrough1 a
{
    text-decoration: none;
}

#headline_walkthrough2
{
    float: right;
}
#headline_walkthrough2 ul
{
    list-style-type: none;
}
#headline_walkthrough2 li
{
    float: left;
    margin: 0 10px;
    border-right: 1px solid black;
    padding: 0 5px;
}
#headline_walkthrough2 a
{
    text-decoration: none;
}
h3
{
    clear: both;
}

#proflie,#web
{
    display: inline-block;
}

#proflie
{
    background-color: white;
    border-radius: 25px;
    width: 18%;
    height: 420px;
    position: fixed;
}

#proflie table
{
    margin: 10px 20px;
}
#proflie img
{
    width: 70%;
    height: 50%;
    margin: 10px 40px;
}
#web
{
    margin-left:19%;
    margin-right: 0;
    background-color: rgb(255, 255, 255);
    width: 80%;
    height: 100%;
    border:2px solid rgb(255, 255, 255);
    border-radius: 25px;

}
#top 
{
    width: 100%;
    height: 5em;
}

#top h1
{
    color:rgb(0, 0, 0);
    font-size: 3em;
    text-align: left;
}

#walkthrough_picture img
{
    width: 100%;
    height: 400px;
}

#walkthrough 
{
    width: 100%;
    height: 3.8em;
    background-color: rgb(143, 237, 250);
    border-radius:15px;
}

#walkthrough ul
{
    list-style-type: none;
    font-size:1.4em;
    padding: 0;
}
#walkthrough li
{
    float: left;
    padding:13px 23px 18px 23px;
    border-right:1px solid lightskyblue;
    text-align:center;
}

#walkthrough a
{
    display: block;
    text-decoration:none;
}

#walkthrough a:visited
{
    color:purple;
}

a:hover
{
    color:skyblue;
}

#news
{
    background-color:rgb(143,237,250);
    border-radius: 25px;
    height: 300px;
}

li
{
    padding:10px 0px;
}


#universal_news,#education,#campus_news
{
    background-color:rgb(143,237,250);
    float: left;
    height: 450px;
    border-radius: 25px;
    margin: 30px 20px;
}

#universal_news li,#education li,#campus_news li
{
    width: 70%;
    padding: 20px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#education_web
{
    width:100%;
    font-size: 0;
}

#wechat_article
{
    background-color:rgb(143,237,250);
    border-radius: 25px;
    height: 400px;
}
#wechat_article ul
{
    list-style-type:none;
}
#wechat_article li
{
    float: left;
    /*width: 33%;*/
    height: 300px;
    margin: 0px 0px;
}

#wechat_article img
{
    width: 100%;
    height: 100%;
}
#information,#science_news
{
    background-color:rgb(143,237,250);
    width: 48%;
    height: 400px;
    border-radius: 25px;
    font-size: 15px;
}
#information
{
    float: left;
    margin: 30px 10px;
}
#science_news
{
   float: right;
   margin:30px 10px;
}

#relative_web 
{
    background-color: rgb(143,237,250);
    border-radius:25px; 
    width: 100%;
    height: 450px;
}
#relative_web h2
{
    margin-top:10px;
    margin-left: 5px;;
}
#relative_web ul
{
    list-style-type: none;
    margin: 50px 0;
}
#relative_web li
{
    float: left;
    /*width: 33%;*/
    height: 300px;
    margin: 0px 0px;
}

#relative_web img
{
    width: 100%;
    height: 100%;
}