html
{
    height: 100%;
}
body {
    background-image: linear-gradient(to bottom right, rgb(255, 255, 187), rgb(91, 220, 243));
    background-position: center 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
}

h2 {
    font-size: 1.5em;
    text-align: left;
    padding: 10px 25px;
}

#headline {
    float: left;
}

#headline_walkthrough1 {
    position: relative;
    float: left;
    width: 30%;
}

#headline_walkthrough1 ul {
    list-style-image: url('../picture/project_image.jpg');
}

#headline_walkthrough1 li {
    float: left;
    position: relative;
    height: 100%;
    margin: 1% 1%;
    padding: 1% 5% 1% 1%;
}

#headline_walkthrough1 a {
    text-decoration: none;
}

#headline_walkthrough2 {
    position: relative;
    float: right;
}

#headline_walkthrough2 ul {
    list-style-type: none;
}

#headline_walkthrough2 li {
    float: left;
    margin: 0 10px;
    border-right: 1px solid black;
    padding: 0 5px;
}

#headline_walkthrough2 a {
    text-decoration: none;
}

h3 {
    clear: both;
}

.side, #web {
    display: inline-block;
}

.side {
    position: fixed;
    width: 4%;
    height: 20%;
    background-color: white;
    border-radius: 25px;
    padding: 1.5% 1%;
}

.dropdown {
    display: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top:-20%;
    left:120%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown-content {
    display: block;
}

#proflie {
    background-color: white;
    border-radius: 25px;
    width: 1600%;
    height: 350%;
}

#proflie table {
    margin: 10px 20px;
}

#proflie img {
    width: 60%;
    height: 50%;
    margin: 10px 40px;
}

#web {
    margin-left: 19%;
    margin-right: 0;
    background-color: rgb(255, 255, 255);
    width: 80%;
    height: 100%;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 25px;
}

#top {
    width: 100%;
    height: 5em;
}

#top h1 {
    color: rgb(0, 0, 0);
    font-size: 3em;
    text-align: left;
}

#walkthrough_picture img {
    width: 100%;
    height: 400px;
}

#walkthrough {
    position: relative;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgb(143, 237, 250);
    border-radius: 15px;
}

#walkthrough ul {
    height: 100%;
    list-style-type: none;
    font-size: 1.4em;
    padding: 0;
}

#walkthrough li {
    min-height: 100%;
    float: left;
    padding:1% 1%;
    border-right: 1px solid lightskyblue;
    text-align: center;
    margin: 0.5% 0;
}

#walkthrough a {
    height: 45px;
    min-height: 100%;
    display: block;
    text-decoration: none;
}

#walkthrough a:visited {
    color: purple;
}

a:hover {
    color: skyblue;
}

#news {
    background-color: rgb(143, 237, 250);
    border-radius: 25px;
    height: 40%;
}

li {
    padding: 10px 0px;
}

#universal_news, #education, #campus_news {
    background-color: rgb(143, 237, 250);
    height: 50%;
    border-radius: 25px;
}

#universal_news li, #education li, #campus_news li {
    width: 70%;
    padding: 20px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#education_web {
    width: 100%;
    font-size: 0;
}

.flex-container {
    position: relative;
    display: -webkit-flex;
    display: flex;
    padding: 2% 0;
}

/*a .photo1 {
    background-image: url(../picture/wechat1.jpg) no-repeat;
    width: 100%;
    height: 100%;
    display: inline-block;
}

a .photo2 {
    background-image: url(../picture/wechat2.jpg) no-repeat;
    width: 100%;
    height: 100%;
    display: inline-block;
}

a .photo3 {
    background-image: url(../picture/wechat3.jpg) no-repeat;
    width: 100%;
    height: 100%;
    display: inline-block;
}

.background {
    background-color: rgb(57, 153, 100);
}*/

.flex-item {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 1% 0;
    padding: 0;
    background-color: teal;
}

.flex-item img {
    opacity: 0.4;
}

.flex-item img:hover {
    opacity: 1;
}

.flex-item p {
    color: white;
    margin: 30% 30%;
    position: absolute;
    left: 10%;
    top: -14%;
}

.flex-item p:hover {
    display: none;
}

#wechat_article {
    background-color: rgb(143, 237, 250);
    border-radius: 25px;
    height: 100%;
}

#wechat_article img {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#information, #science_news {
    background-color: rgb(143, 237, 250);
    height: 400px;
    border-radius: 25px;
    font-size: 15px;
}

#information li {
    width: 70%;
    padding: 20px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#science_news li {
    width: 70%;
    padding: 20px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#relative_web {
    background-color: rgb(143, 237, 250);
    border-radius: 25px;
    width: 100%;
    height: 100%;
}
/*#relative_web .image 
{
    background-image: url(../picture/relative1.png);
}*/
#relative_web h2 {
    margin-top: 10px;
    margin-left: 5px;
}

#relative_web div
{
    margin: 2% 0;
}
#relative_web a img {
    width: 100%;
    height: 100%;
}